<h4>Recently Added</h4>
<ul class="thumbnails">

  <% @items.each do |item| %>

      <li class="span3">
        <div class="thumbnail">
          <img data-src="holder.js/160x120" alt="" src="<%= image_path "noimage.jpg" %>">
          <div class="caption">

            <a  href="<%= item.url %>" title="<%= item.title %>">
              <span class="title"><%= item.title %></span>
            </a>

            <p>
              Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
          </div>
        </div>
      </li>

  <% end %>
</ul>



