
<div class="row">
  <div class="span12">
    <h3>Recently Added</h3>
  </div>

  <ul class="thumbnails">

    <% @items.each do |item| %>

        <li class="span4">
          <div class="thumbnail">
            <img data-src="holder.js/160x120" alt="" src="<%= image_path "noimage.jpg" %>">
            <div class="caption">

              <a  href="<%= item.url %>" title="<%= item.title %>">
                <h3><%= item.title %></h3>
              </a>
              <p> Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.

              </p>


            </div>

          </div>
        </li>
    <% end %>

  </ul>



